<h1>Listing articles</h1>
 
 <%= link_to 'New Post', new_board_line_path(@board) %>
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @topics.each do |topic| %>
    <tr>
      <td><%= topic.name %></td>
      <td><%= topic.description %></td>

    </tr>
  <% end %>
</table>

<%= link_to 'Back', boards_path %>