/* line 5, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/lines.scss */
body {
  background-color: #e6f2ff;
}

/* line 9, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/lines.scss */
#the_table {
  background-color: #F2F2F2;
}

/* line 13, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/lines.scss */
.main_post {
  background-color: white;
  border-radius: 7px;
  padding-left: 10px;
  padding-bottom: 3px;
  top: 5px;
}

/* line 21, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/lines.scss */
.new_thread {
  background-color: white;
  border-radius: 3px;
  padding-left: 10px;
}

/* line 27, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/lines.scss */
#new_post {
  background-color: white;
  border-radius: 7px;
  padding-left: 10px;
  padding-bottom: 3px;
  top: 5px;
}
