/* line 5, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/rooms.scss */
body {
  background-color: #e6f2ff;
}

/* line 9, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/rooms.scss */
.info-group {
  background-color: #fff;
  margin: 30px 0;
  border-radius: 8px;
  padding: 10px 30px;
}

/* line 16, /home/jmaeda/Dropbox/cosi166b_jmaeda/Deis-Dorms/app/assets/stylesheets/rooms.scss */
.title_left {
  margin-left: 10px;
}
