<!DOCTYPE html>
<html>
<head>
  <title>Welcome</title>
  <%= stylesheet_link_tag "home" %>
</head>
<body>
  <div class="container-fluid">
    <div class="row ridgewood">
      <h1> Welcome</h1>
    </div>

  </div>

  <section>
    <div>

</body>
</html>
