<body>
  <div class = "container">
    <h1>Forum Page</h1>


      <table class = "table table-bordered table-striped">
      <thead>
          <tr>
            <th width="60%"> Forum Boards </th>
            <th width="20%"> Last Post </th>
          </tr>
      </thead>
      <% for board in @boards %>
        <tr>
          <td><h4><%= link_to (board.name), board_lines_path(board)  %></h4>
            <%= board.description %></td>
          <td class="right"></td>
    <!--       <td><%= link_to "Show", board %></td>
     -->    
        </tr>
      <% end %>
    </table>
    <br></br>
  </div>
</body>
