<%= stylesheet_link_tag "rooms", media: "all", "data-turbolinks-track" => "reload" %>

<body>
	<div class = "container">
		<h2>Quad: <%= @quad.name%><h2>
		<h3><%=@building.name%> <%=@room.number%></h3>
	</div>
</body>