<h3> Thanks for the review! </h3>
<p> Would you like to write another review? </p>

<%= puts "PARAMETERSS FESJIFOJ", params %>
<%= puts "buildings", @buildings %>

<%#= hidden_field_tag 'buildings', @buildings %>

<%= link_to "Write new review", new_post_quads_path(quad_id: @quad), method: :get %>
