<h3> Thanks for the review! </h3>
<p> Would you like to write another review? </p>

<%= puts "buildings", @buildings %>

<% @suggested_tags.each do |tag| %>
<p><%= tag %> </p>
<% end %>

<!-- <div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary active">
    <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 2
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" autocomplete="off"> Checkbox 3
  </label>
</div> -->

<%= link_to "Write new review", new_post_quads_path(quad_id: @quad), method: :get %>
