// Place all the styles related to the Quads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery-star-rating

.row {
  // padding: 30px;
  // border-bottom: 2px solid #b0e0e6 ;
}


body {
	// padding-top:50px;
  // background-color: #000;
  background-color: #e6f2ff;
  position: relative;
}

textarea {
  resize:none;
}

.media-body {
  padding-bottom: 16px;
}

.media-heading {
  margin-bottom: -6px;
}

.media-sub-heading .building-link a:link,
.media-sub-heading .building-link a:visited {
  color: #646363;
  font-size: 15px;
  text-decoration: none;
  // border-bottom: 1px solid #003366;
  // margin-bottom: 1px;
  border-bottom-style: none;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading .building-link a:hover {
  color: #ababab;
  font-size: 21px;
  // text-decoration: none;
  border-bottom: 1px solid #979797;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading {
  padding-left: 15px;
  padding-bottom: 10px;
}

.building-link {
  font-size: 21px;
  color: #ababab;
}

.class-year {
  background-color: #fff;
  margin: 30px 0;
  padding: 10px 30px;
}

.class-year h3 {
  margin-top: 10px;
}

#leftCol {
  margin-right: 10px;
  background-color: #fff;
}

#rightCol {
  margin-left: 20px;
}

.new-review {
  background-color: #f0f5f5;
  margin: 20px;
}

#comment {
  // background-color: blue;
  padding-left: 20px;
  // padding-top: 10px;
}

.comment-top {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-tab {
  // background-color: yellow;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.comment-content {
  // padding-bottom: 15px;
}

.container {
  padding-top: 20px;
  background-color: #fff;
}

#masthead {
	min-height:270px;
	background-color:#000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#111155;
  color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
	color:#aaaacc;
}

.navbar-bright li > a:hover {
  background-color:#000033;
}
