// Place all the styles related to the Quads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery-star-rating

body {
  background-color: #e6f2ff;
  position: relative;
}

textarea {
  resize:none;
}

h2 {
  border-bottom: 2px solid #e0e0e0;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:visited {
  background-color: #003366;
  color: #fff;
}

.new-review {
  margin: 20px;

  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.rating-as-num {
  margin-left: 8px;
}

#comment {
  padding-left: 20px;
}

#building-new-comment {
  background-color: #e6f2ff;
}

.one-review {
  // border-bottom: 2px solid #ededed;
  padding-top: 8px;
  margin: 0 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.rating {
  margin-top: 8px;
}

.hash-tag {
  color:#336699;
}

.datetime {
  float: right;
}

.comment-top {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-tab {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.tag-btn {
  background-color: #efefef;
  color: #010101;
}

.tag-btn.active,
.tag-btn.active:hover,
.tag-btn.active:focus,
.tag-btn.active:visited {
  background-color: #003366;
  color: #fff;
}

.container {
  padding-top: 20px;
  background-color: #fff;
}

#masthead {
	min-height:270px;
	background-color:#000044;
  	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
  	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#111155;
  color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
	color:#aaaacc;
}

.navbar-bright li > a:hover {
  background-color:#000033;
}
