.row {
  height: 100vh;
}

html,
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%), url('ridgewood1.jpg');
  background-size: cover;
  height: 100%;
  background-color: transparent;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}
