

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
  font-size: 50px;
  padding-bottom: 30px;
}

.big-row {
  height: 100vh;
}

html,
body {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 100%, rgba(0, 0, 0, 0.5) 59%, rgba(0, 0, 0, 0.5) 100%), url('ziv_cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  // height: 100%;
  background-color: transparent;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
body {
  color: #fff;
  text-align: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

.welcome {
  padding-top: 80px;
}

.centered-search-bar {
    padding: 30px;
    position: absolute;
    // width: 1140px;
    top: 50%;   /* position at 50% of the parent */
    left: 50%;
    transform: translate(-50%, -50%); /* translate -50% of this box, not the parent */
}

.input-group .input-group-btn .glyphicon {
  font-size: 18px;
}

.form-control {
  height: 39px;
  margin-top: 0.1em;
}

//==================  Features ===========

.features {
  background-color: #FCFCFC;
  color: #000;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  height: auto;

  // max-width: 1140px;
}

.features .fa {
  font-size: 100px;
  padding-bottom: 20px;
}

.feature {
  padding-bottom: 30px;
}

.fa-map-marker {
  color: #DE3139;
}

.features .fa-star,
.features .fa-star-half-o,
.features .fa-star-o {
  padding-top: 18px;
  padding-bottom: 42px;
  font-size: 60px;
  color: #FFF700;
}

.fa-list {
  color: #002f6c;
}

.fa-users {
  color: #DBDBDB;
}

//==================== Find YOUR DORM =============

.dorm-classes {
  background-color: #D9F5FF;
  color: #000;
  margin: auto;
  width: 100%;
  padding-top: 50px;
  padding-bottom: 150px;
  height: auto;
}

.building-pic {
  padding-bottom: 30px;
}

.building-list {
  width: 50%;
  margin: 0 auto;
}

.building-item {
  width: 80%;
  margin: 0 auto;
  padding-bottom: 10px;
  text-align: left;
  font-size: 18px;
}

// .fa-ul {
//   margin: 0;
//   padding-left: 0;
//   text-align: 0;
// }
//
// .fa-li {
//   padding: 5px 20px 5px 0;
// }


//==================== FOOTER ===================
footer {
    background-color: #222;
    padding: 50px;
    font-size: 90%;
    color: #fff
}

.footer-nav {
    list-style: none;
    float: left;
}

.social-links {
    list-style: none;
    float: right;
}

.footer-nav li,
.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
    margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    border: 0;
    text-decoration: none;
    color: #888;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #bbb;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}
