// Place all the styles related to the Lines controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #e6f2ff;
}

#the_table{
  background-color: #F2F2F2;
}

.main_post{
  background-color:white;
  border-radius:7px;
  padding-left:10px;
  padding-bottom: 3px;
  top: 5px;
}

.new_thread{
  background-color:white;
  border-radius:3px;
  padding-left:10px;
}

#new_post{
  background-color:white;
  border-radius:7px;
  padding-left:10px;
  padding-bottom: 3px;
  top: 5px;
}