// Place all the styles related to the Quads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery-star-rating

body {
  background-color: #e6f2ff;
  position: relative;
}

textarea {
  resize:none;
  background-color: #fff;
}

.filter-col {
  background: #fff;
  margin-top: 18px;
}

.media-body {
  padding-bottom: 16px;
}

.media-heading {
  margin-bottom: -4px;
}

.name-rating .media .media-left {
  width: 23%;
}

.name-rating .media .media-body {
  padding-top: 30px;
}

.name-rating .media  {
  margin-top: -18px;
}

.media-body .quad-link a:link,
.media-body .quad-link a:visited {
  color: #336699;
  font-size: 21px;
  text-decoration: none;
  border-bottom-style: none;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-body .quad-link a:hover {
  color: #3377aa;
  font-size: 25px;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading .building-link a:link,
.media-sub-heading .building-link a:visited {
  color: #646363;
  font-size: 15px;
  text-decoration: none;
  border-bottom-style: none;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading .building-link a:hover {
  color: #ababab;
  font-size: 21px;
  border-bottom: 1px solid #979797;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading {
  padding-left: 15px;
  padding-bottom: 10px;
}

.building-link {
  font-size: 21px;
  color: #ababab;
}

.class-year {
  background-color: #fff;
  margin: 30px 0;
  padding: 10px 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.class-year h3 {
  margin-top: 10px;
}

#leftCol {
  margin-right: 10px;
  background-color: #fff;
}

#rightCol {
  margin-left: 20px;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:visited {
  background-color: #003366;
  color: #fff;
}


// =============== NEW REVIEWS ==================

.new-review {
  background-color: #fff;
  // box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#comment {
  padding-left: 20px;
}

.comment-top {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-tab {
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.tag-btn {
  background-color: #efefef;
  color: #010101;
}

.tag-btn.active,
.tag-btn.active:hover,
.tag-btn.active:focus,
.tag-btn.active:visited {
  background-color: #003366;
  color: #fff;
}

// =================== REVIEWS =====================

.review {
  margin: 10px;
  padding: 8px;
  background: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cut-text {
  line-height: 1.2em; max-height: 2.4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rating-as-num {
  margin-left: 8px;
}

.hash-tag {
  color:#336699;
}

// =================== OTHER ============

.btn-blueprint {
	margin-top: 10px;
	width: 90%;
}

.container {
  padding-top: 20px;
  background-color: #fff;
}

#masthead {
	min-height:270px;
	background-color:#000044;
	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#111155;
  color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
	color:#aaaacc;
}

.navbar-bright li > a:hover {
  background-color:#000033;
}

.affix {
  top: 150;
  width: 150px;
  background-color: #fff;
}

.affix-top {
  width: 150px;
  background-color: #fff;
}

.affix-bottom {
  width: 150px;
  position: absolute;
  background-color: #fff;
}

#sidebar li.active {
	border:0 #eee solid;
	border-right-width:4px;
}

#mainCol h2 {
	padding-top: 55px;
  margin-top: -55px;
}


// ================== HIGHLIGHTER =====================
.jqueryHashtags .highlighter{
  white-space: pre-wrap;
	color:transparent;
	overflow: hidden;
	position: absolute;
	padding-left:7px;
	padding-top:5px;
	line-height:20px;
}

.jqueryHashtags .theSelector{
	background-color: transparent;
	position: relative;
	direction: ltr;
	resize:none !important;
	-webkit-transition: height 0.2s;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px;
	vertical-align:middle;
	min-height:48px !important;
	line-height:20px;
}

.jqueryHashtags .hashtag{
	background: -webkit-linear-gradient(#dce6f8, #bdcff1);
	border-radius: 2px;
	box-shadow: 0 0 0 1px #a3bcea;
	font-size:14px;
	white-space: pre-wrap;
	word-break: break-word;
	line-height:20px;
}
