// Place all the styles related to the Quads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//= require jquery-star-rating

.row {
  // padding: 30px;
  // border-bottom: 2px solid #b0e0e6 ;
}


body {
  background-color: #e6f2ff;
  position: relative;
}

textarea {
  resize:none;
  background-color: #fff;
}

.media-body {
  padding-bottom: 16px;
}

.media-heading {
  margin-bottom: -6px;
}

.media-sub-heading .building-link a:link,
.media-sub-heading .building-link a:visited {
  color: #646363;
  font-size: 15px;
  text-decoration: none;
  border-bottom-style: none;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading .building-link a:hover {
  color: #ababab;
  font-size: 21px;
  border-bottom: 1px solid #979797;
  transition: color 0.2s, border-bottom 0.2s, font-size 0.2s;
}

.media-sub-heading {
  padding-left: 15px;
  padding-bottom: 10px;
}

.building-link {
  font-size: 21px;
  color: #ababab;
}

.class-year {
  background-color: #fff;
  margin: 30px 0;
  padding: 10px 30px;
}

.class-year h3 {
  margin-top: 10px;
}

#leftCol {
  margin-right: 10px;
  background-color: #fff;
}

#rightCol {
  margin-left: 20px;
}

.nav-tabs li.active a,
.nav-tabs li.active a:hover,
.nav-tabs li.active a:focus,
.nav-tabs li.active a:visited {
  background-color: #003366;
  color: #fff;
}

.nav-tabs li a {
  // border: medium none;
  // background-color: #eeeeee;
}


// .nav-tabs li a:hover{
//   background-color: #fff000;
// }

// =============== COMMENT/REVIEWS ==================

.new-review {
  // background-color: #f0f5f5;
  background-color: #fff;
}

#comment {
  // background-color: blue;
  padding-left: 20px;
  // padding-top: 10px;
}

.comment-top {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.comment-tab {
  // background-color: yellow;
  float: left;
  padding-top: 10px;
  padding-left: 10px;
  display: inline;
}

.comment-content {
  // padding-bottom: 15px;
}

.container {
  padding-top: 20px;
  background-color: #fff;
}

#masthead {
	min-height:270px;
	background-color:#000044;
	color:#aaaacc;
}

#masthead h1 {
	font-size: 55px;
	line-height: 1;
}

#masthead .well {
	margin-top:13%;
	background-color:#111155;
	border-color:#000033;
}

.icon-bar {
	background-color:#fff;
}

@media screen and (min-width: 768px) {
	#masthead h1 {
		font-size: 100px;
	}
}

.navbar-bright {
	background-color:#111155;
  color:#fff;
}

.navbar-bright a, #masthead a, #masthead .lead {
	color:#aaaacc;
}

.navbar-bright li > a:hover {
  background-color:#000033;
}

// .affix-top,.affix{
// 	position: static;
// }

// @media (min-width: 979px) {
//   #sidebar.affix-top {
//     position: fixed;
//   	// margin-top:30px;
//   	width:175px;
//   }
//
//   #sidebar.affix {
//     position: fixed;
//     // top:70px;
//     width:175px;
//   }
// }

.affix {
  top: 150;
  width: 150px;
  background-color: #fff;
}

.affix-top {
  width: 150px;
  background-color: #fff;
}

.affix-bottom {
  width: 150px;
  position: absolute;
  background-color: #fff;
}

#sidebar li.active {
	border:0 #eee solid;
	border-right-width:4px;
}

#mainCol h2 {
	padding-top: 55px;
  margin-top: -55px;
}


// ================== HIGHLIGHTER =====================
.jqueryHashtags .highlighter{
  white-space: pre-wrap;
	color:transparent;
	overflow: hidden;
	position: absolute;
	padding-left:7px;
	padding-top:5px;
	// font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	// font-size:14px;
	line-height:20px;
}

.jqueryHashtags .theSelector{
	background-color: transparent;
	position: relative;
	direction: ltr;
	// font-size:14px;
	// font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	resize:none !important;
	-webkit-transition: height 0.2s;
	border: 1px solid #cccccc;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	padding: 4px 6px;
	vertical-align:middle;
	min-height:48px !important;
	line-height:20px;
}

.jqueryHashtags .hashtag{
	background: -webkit-linear-gradient(#dce6f8, #bdcff1);
  // background: #FFFF00;
	border-radius: 2px;
	box-shadow: 0 0 0 1px #a3bcea;
	font-size:14px;
	white-space: pre-wrap;
	word-break: break-word;
	line-height:20px;
}
