<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusYXvwnjlf3T9iXvhGbfi_W-tPFunBvI&callback=initMap"
  type="text/javascript"></script>

<style>

#sidebar_container{position:absolute;left:820px;top:120px;padding:5px;background-color:white;width:300px;border-radius:3px;}
.dormbldg{border-top:solid 1px #CCC;cursor:pointer}
#search{border:0;width:290px;}
#search:focus{box-shadow:none;outline:0 none;}

</style>
<h1>Map</h1>

<div style='width: 800px;'>
  <div id="map" style='width: 800px; height: 400px;'></div>
  Places of Interest: <input type="checkbox" id="places_of_interest_box" onclick="boxclick(this)"/>
</div>
<div id='sidebar_container'>
  <input type="text" id="search" placeholder="Search...">
</div>



<%= javascript_include_tag "map" %>
