<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCusYXvwnjlf3T9iXvhGbfi_W-tPFunBvI&callback=initMap"
  type="text/javascript"></script>

<head>
<style>

#sidebar_container{
  position:absolute;
  left:900px;
  top:195px;
  padding:5px;
  bottom:0;
  background-color:white;
  width:330px;
  height: 395px;
  border-radius:3px;
  overflow-y: scroll;
  border: 3px solid white;
}

.dormbldg{
  border-top:solid 1px #CCC;
  cursor:pointer
}

#side_advanced_search{
  position:absolute;
  text-align: center;
  left:900px;
  top:170px;
  width:330px;
}

#side_search{
  position:absolute;
  left:900px;
  top:140px;
  width:330px;
}

#search{
  border: 3px solid white;
  width:330px;
  top: 130px;
}

#search:focus{
  background-color: white;
  box-shadow:none;
  outline:0 none;
}

body {
  background-color: #e6f2ff;
}

h1 {
  text-align: left;
}
</style>
</head>

<body>
<div class = "container" id = "title_div">
  <h1>Campus Map</h1>
</div>

<div class = "container">
  Places of Interest: <input type="checkbox" id="places_of_interest_box" onclick="interestMarkersBox(this)"/>
  Keep Markers: <input type="checkbox" id="keep_markers_box" onclick="keepMarkers(this)"/>
  <div id="map" style='width: 800px; height: 450px;border: 3px solid white;'></div>
</div>

<div id='side_search'><input type="text" id="search" placeholder="Search Dorm Building..."></div>
<%if @current_u.admin? == true%>
    <div id='side_advanced_search'style="background-color: #d3d3d3"><%= link_to 'Advanced Search', rooms_index2_path %></div>
  <%else%>
    <div id='side_advanced_search' style="background-color: #d3d3d3"><%= link_to 'Advanced Search', rooms_path %></div>
  <%end%>
<div id='sidebar_container'>
</div>
<br></br>
</body>

<%= include_gon %>
<%= javascript_include_tag "map" %>
